@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    background-color: #d2abca;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 2.3vh;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid white 5px;
    border-radius: 15px;
    margin-left: 10%;
    width: fit-content;
    padding: 1rem;
}

label {
    padding: 10px;
}

select {
    width: 100%;
    border-radius: 15px;
    background-color: #B895B0;
    color: white;
    font-family: 'Poppins',sans-serif;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    background-color: #B895B0;
    color: white;
    font-family: 'Poppins',sans-serif;
}

textarea {
    width: 100%;
    border-radius: 15px;
    background-color: #B895B0;
    color: white;
    font-family: 'Poppins',sans-serif;
}


button {
    padding: 5px;
    background-color: #B895B0;
    margin-top: 5px;
    border-radius: 10px;
    border: solid white 1px;
    font-family: 'Poppins',sans-serif;
}

.retour {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

