{{define "admin"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="static/css/admin.css">
</head>
<body>
    <a class="retour" href="http://localhost:8080/home"><i class="fa-solid fa-arrow-left"></i>&#8592; Retour</a>
    <form class="form" method="post" action="/form/treatment" enctype="multipart/form-data">
        <i class=""></i>

        <label for="categorie">Catégorie</label>
            <select class="select" name="categorie" id="categorie" multiple>
                 <option value="Compétitif">Compétitif</option>
                 <option value="Jeux en Vrac">Jeux en Vrac</option>
                 <option value="Coup de Coeur">Coup de Coeur</option>
            </select>

        <label for="auteur">Auteur</label>
        <select class="select" name="auteur" id="auteur" multiple>
             <option value="Corentin">Corentin</option>
             <option value="Abdallah">Abdallah</option>
             <option value="Morgane">Morgane</option>
             <option value="Luca">Luca</option>
        </select>

        <p class=""></p>
        <label for="Introduction">Introduction</label>

            <textarea id="introduction" name="introduction" rows="1" cols="50">
        </textarea>
        <label for="Text">Texte</label>

            <textarea id="text" name="texte" rows="7" cols="100">
        </textarea>

        <label for="file">Sélectionnez un fichier</label>
        <input type="file" id="file" name="file" accept=".png, .jpg, .jpeg">

        <button type="submit">Publier</button>
    </form>
</body>
</html>
{{end}}