{{define "login"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <form method="POST" action="/admin">
        <i class="fa fa-user fa-5x"></i>
        <input id="UserName" name="UserName" placeholder="Entrer votre pseudo" autofocus required>
        <p class="form-field-err"></p>
        <input id="Password" name="Password" type="password" placeholder="Entrer votre mot de passe" required>
        <p class="form-field-err"></p>
        <button type="submit">Envoyer</button>
    </form>

</body>
</html>
{{end}}